
  @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");
/* spread word */
/* font-family: 'Borel', cursive;
 font-family: 'Caveat';
 font-family: 'Ysabeau SC', sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Aldrich&display=swap");
/* coding */
/* font-family: 'Aldrich', sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* font-family: 'Roboto', sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* font-family: 'Press Start 2P', cursive; */

@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* font-family: 'Black Ops One', cursive; */

@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");
/* font-family: 'Permanent Marker'; */

@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500&display=swap");
/* font-family: 'Orbitron', sans-serif; */

  @import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
  /* font-family: 'Kalam'; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html,
body {
  height: 100%;
  width: 100%;
}

html,body {
  width: 100%;
  overscroll-behavior: none;
  min-height: 100%;
}
body::-webkit-scrollbar {
  display: none;
}

#main {
  position: relative;
  overflow: hidden;
  background-color: black;
}

a {
  text-decoration: none;
}
/*  */
.page1 {
  min-height: 100vh;
  width: 100%;
  background-color: rgb(0, 0, 0);
  padding: 1rem;
  color: white;
  position: relative;
}
.header {
  background-color:rgba(0, 0, 0, 0);
  mix-blend-mode:difference;
  height: 10vh;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 99;
}
.middle {
  font-size: 15px;
}
.logo {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Aldrich", sans-serif;
  position: absolute;
  top: 10px;
}
.logo h1 {
  font-size: 1.5rem;
  background:linear-gradient(45deg,rgb(128, 128, 128),rgba(255, 255, 255, 0.904)) text;
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
  color:transparent;
  text-fill-color:transparent;
  background-clip: text;
  font-weight: 900;
}

.link {
  display: flex;
  font-family: "Roboto", sans-serif;
  position: absolute;
  right: 14px;
}
.link h2 {
  font-size: 1rem;
  margin-right: 0.8rem;
}

.hero {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  position: relative;
  gap: 18px;
}
.circle {
  /* border: 2px solid red; */
  /* background-color: black; */
  width: 30vw;
  min-height: 30vw;
  border-radius: 0 0 50% 50%;
  overflow: hidden;
  /* transition: all 2s cubic-bezier(0.19, 1, 0.22, 1); */

  /* position: absolute; */
}
.minicircle {
  width: 20vw;
  height: 20vw;
  border: 1.8vw solid rgba(224, 224, 224, 0.89);
  position: absolute;
  box-shadow: 0 0 80px rgb(186, 102, 255);
  /* background-color: black; */
  top: 65%;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation-name: circleAnimation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  animation-direction: alternate-reverse;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 2s;
}

@keyframes circleAnimation {
  0% {
    box-shadow: 0 0 60px rgb(185, 103, 252);
  }
  50% {
    box-shadow: 0 0 80px rgb(20, 138, 235);
  }
  100% {
    box-shadow: 0 0 50px rgb(243, 77, 207);
  }
}

.myimage {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  object-fit: cover;
  transition: all 2s cubic-bezier(0.19, 1, 0.22, 1);
}

.content {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  line-height: 6vw;
}
.content h1 {
  color: rgb(223, 223, 223);
  letter-spacing: 0.5rem;
  font-weight: 500;
  font-size: 8.5vw;
  font-family: "Black Ops One", cursive;
  background:linear-gradient(to bottom,white,gray,black) text;
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
  color:transparent;
  text-fill-color:transparent;
  background-clip: text;

}

@keyframes textAnimation {
  0% {
    filter: drop-shadow(0 0 4px rgb(186, 102, 255));
  }
  50% {
    filter: drop-shadow(0 0 8px rgb(20, 138, 235));
  }
  100% {
    filter: drop-shadow(0 0 5px rgb(243, 77, 207));
  }
}

.page2 {
  display: flex;
    align-items: center;
  padding: 3vw 6vw;
  min-height: 100vh;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: rgb(224, 224, 224);
  font-family: "Roboto", sans-serif;
}

.p2container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 1.2rem;
  text-align: start;
  letter-spacing: 2.2px;
  
}

.p2container h1:nth-child(1) {
  background:linear-gradient(45deg,rgb(0, 132, 255),rgba(221, 0, 221, 0.849)) text;
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
  color:transparent;
  text-fill-color:transparent;
  background-clip: text;
  font-weight: 900;
}

.p2container h1:nth-child(2) {
  background:linear-gradient(45deg,rgb(221, 0, 221),rgba(0, 183, 255, 0.795)) text;
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
  color:transparent;
  text-fill-color:transparent;
  background-clip: text;
  font-weight: 900;
  
}
.p2container span {
  background:linear-gradient(to bottom,white,rgb(75, 75, 75)) text;
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
  color:transparent;
  text-fill-color:transparent;
  background-clip: text;
}
.p2container h1:nth-child(3) span:nth-child(1) {
  background:linear-gradient(45deg,rgba(255, 51, 0, 0.938),rgba(255, 251, 0, 0.815)) text;
  /* background: linear-gradient(45deg,white,rgb(236, 0, 236),rgb(0, 183, 255)); */
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
  color:transparent;
  text-fill-color:transparent;
  background-clip: text;
  font-weight: 900;
  
}
.p2container h1:nth-last-child(1) span:nth-last-child(1) {
  background:linear-gradient(45deg,rgba(221, 0, 221, 0.89),rgb(0, 119, 255)) text;
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
  color:transparent;
  text-fill-color:transparent;
  background-clip: text;
  font-weight: 700;
  font-family: 'Caveat';
  font-family: 'Kalam';
}
.p2container h1:nth-last-child(2) span:nth-last-child(2) {
  background:linear-gradient(to bottom,white,rgb(75, 75, 75)) text;
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
  color:transparent;
  text-fill-color:transparent;
  background-clip: text;
}


.page3 {
  display: flex;
  align-items: center;
  padding: 3vw 6vw;
  min-height: 100vh;
  width: 100%;
  background-color: rgb(20, 20, 20);
  color: white;
  font-family: "Roboto", sans-serif;
}
.p3Container {
  width: 85%;
  height: 100%;
  font-size: 1rem;
  /* background-color: red; */
}

.p3Container>h1 {
  
  background: linear-gradient(to right,white,gray,gray);
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
  color:transparent;
  text-fill-color:transparent;
  background-clip: text;
  font-weight: 700;
}

.p3title h1 {
  font-size: 3rem;
  margin-bottom: 50px;
  background:linear-gradient(45deg,rgb(0, 132, 255),rgba(221, 0, 221, 0.911),rgba(221, 0, 221, 0.911),rgba(221, 0, 221, 0.911),rgba(221, 0, 221, 0.911),rgba(221, 0, 221, 0.911),rgba(221, 0, 221, 0.911)) text;
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
  color:transparent;
  text-fill-color:transparent;
  background-clip: text;
  
}
.skills {
  display: flex;
  flex-wrap: wrap;

  /* background-color: blueviolet; */
}
.skill {
  border-radius: 5px;
  margin: 1rem 1rem 1rem 0;
  height: 4rem;
  /* width: 4rem; */
  background-color: white;
  overflow: hidden;
  padding: 4px;
  transition: box-shadow 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.skill:hover {
  box-shadow: 0 0 10px rgb(255, 255, 255);
}

.skill img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
  transition: scale 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.skill img:hover {
  scale: 1.1;
}
.wskill {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 500;
  margin: 1rem 1rem 1rem 0;
  height: 3rem;
  width: 10rem;
  color: black;
  background-color: white;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: color 2s cubic-bezier(0.19, 1, 0.22, 1);
  /* box-shadow: 0 0 10px rgb(235, 84, 255); */
}

.wskill::after{
position: absolute;
content: "";
bottom: 0;
left: 0;
width: 100% ;
height: 0%;
border-radius: 50% 50% 0 0 ;
z-index: -1;
transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.wskill:hover:after{
  height: 200%;
  background-color: black;

}
.wskill:hover{
  color: white;
  border: 1px solid white;
}

.page4 {
  width: 100%;
  min-height: 100vh;
  background-color: rgb(0, 0, 0);
  padding: 3vw 6vw;
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-size: x-large;
}
.page4 h1 {
  font-size: 3rem;
  margin-bottom: 50px;
  background:linear-gradient(45deg,rgb(0, 132, 255),rgba(221, 0, 221, 0.911),rgba(221, 0, 221, 0.911),rgba(221, 0, 221, 0.911),rgba(221, 0, 221, 0.911),rgba(221, 0, 221, 0.911),rgba(221, 0, 221, 0.911)) text;
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
  color:transparent;
  text-fill-color:transparent;
  background-clip: text;
  font-weight: 900;
  
}

.projects {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* background-color: red; */
}

.project {
  background-color: #ffffff;
  width: 24%;
  aspect-ratio: 9/17 auto;
  border-radius: 20px;
  margin: 10px;
  overflow: hidden;
  padding: 6px;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
  font-family: "Roboto", sans-serif;
}
.project:hover {
  box-shadow: 0 0 10px rgb(255, 255, 255);
}

.pleft {
  /* height: 31%; */

  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 0 8px gray;
}
.pleft video {
  width: 100%;
  height: 100%;
  object-fit: cover;

  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.pleft video:hover {
  scale: 1.02;
}
.pleft img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.pleft img:hover {
  scale: 1.05;
}
.pright h1 a {
  text-decoration: none;
  -webkit-text-fill-color: black!important;
  color: black!important;
  transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.pright h1 a:hover {
  color: rgb(80, 80, 80);
}
.pright {
  height: 100%;
  width: 100%;
  color: black;
  padding: 5px;
  font-size: 1rem;
}
.pright h1 {
  font-size: 1.5rem;
  margin: 1rem 0;
}

.pright ul li {
  list-style-type: none;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: rgb(73, 73, 73);
}

.page5 {
  font-family: "Luckiest Guy" !important;
  height: 20vh;
  width: 100%;
  background-color: rgb(15, 15, 15);
  color: white;
}


.footer {
  font-size: 1.5rem;
  font-weight: 400;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 4px;
  text-align: center;
}

.footer h1 {
  background:linear-gradient(45deg,rgba(255, 51, 0, 0.966),rgba(255, 251, 0, 0.856),white,white) text;
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
  color:transparent;
  text-fill-color:transparent;
  background-clip: text;
}

.footer h1 span:nth-child(1) {
  color: black !important;
  
  -webkit-text-fill-color: black !important;
  -webkit-text-stroke: 1px rgb(0, 162, 255);
}

.footer h1 a:nth-child(2) span:nth-child(1) {
  color: black;
  -webkit-text-stroke: 1px rgb(255, 255, 255) !important;
}

@media only screen and (device-width: 1024px) and (device-height: 1366px) {
  .page1 {
    background-color: black;
    color: white;
  }
  .hero {
    gap: 18px;
    padding-top: 5rem;
  }
  .circle {
    width: 65vw;
    height: 65vw;
  }
  .minicircle {
    width: 40vw;
    height: 40vw;
    border: 3vw solid rgb(255, 255, 255);
  }
  .content {
    line-height: 11vw;
  }
  .content h1 {
    font-size: 13vw;
  }

  .page2 {
    min-height: 100vh;
  }
  .page3 {
    min-height: 90vh;
  }

  .project {
    width: 41%;
  }

  .footer {
    font-size: 1.4rem;
    letter-spacing: 11px;
  }



  /* my  */
  .p2container{
    font-size: 2.2rem;
  }
  .wskill{
    width: 18rem;
    height:5rem;
    font-size: 2rem;
  }

  .p3title h1{
    font-size: 6rem;
  }
  .p3Container>h1{
    font-size: 3rem;
  }
  .skill{
    height: 6rem;
  }

  .page4 h1{
    font-size: 6rem;
  }
  .pright h1{
    font-size: 3.5rem;
  }
  .pright ul li{
    font-size: 2rem;
  }
  .footer h1{
  font-size: 5rem;
  }
}

@media screen and (max-width: 1023px) {
  .page1 {
    background-color: black;
    color: white;
  }
  .hero {
    gap: 18px;
    padding-top: 5rem;
  }
  .circle {
    width: 65vw;
    height: 65vw;
  }
  .minicircle {
    width: 40vw;
    height: 40vw;
    border: 3vw solid rgb(255, 255, 255);
  }
  .content {
    line-height: 11vw;
  }
  .content h1 {
    font-size: 13vw;
  }

  .page2 {
    min-height: 100vh;
  }
  .page3 {
    min-height: 80vh;
  }

  .project {
    width: 41%;
  }

  .footer {
    font-size: 1.4rem;
    letter-spacing: 11px;
  }
}

@media screen and (max-width: 480px) {
  .page1 {
    background-color: black;
    color: white;
  }
  .logo h1 {
    font-size: 0.9rem;
    font-weight: 900;
  }
  .hero {
    padding-top: 8rem;
    gap: 18px;
  }
  .link {
    display: none;
  }
  .circle {
    width: 65vw;
    height: 65vw;
  }
  .minicircle {
    width: 40vw;
    height: 40vw;
    border: 3vw solid rgb(255, 255, 255);
  }
  .content {
    line-height: 11vw;
  }
  .content h1 {
    font-size: 12.5vw;
  }

  .p2container {
    text-align: center;
    align-items: center;
    font-size: 1rem;
    letter-spacing: 0.5px;
    
  }

  
  .page2 {
    min-height: 100vh;
  }
  .page3 {
    min-height: 95vh;
  }
  .p3title h1 {
    font-size: 2rem !important;
    margin-bottom: 30px;
  }
  .p3Container {
    width: 100%;
  }
  .p3Container h1 {
    font-size: 1.2rem;
    
  }
  
  .p3Container>h1:nth-child(2),h1:nth-child(4),h1:nth-child(6){
    margin-top: 1.5em;
  }
  .p2container>h1{
    margin: 0px;
  }
  .skill {
    margin: 0.4rem;
    height: 3rem;
  }
  .wskill {
    margin: 0.4rem;
    height: 2.5rem;
    width: 9rem;
  }
  .page4 h1 {
    font-size: 2rem;
    margin-bottom: 40px;
  }
  .project {
    width: 80%;
    /* height: 32rem; */
  }
  .footer {
    font-size: 0.8rem;
    letter-spacing: 5px;
  }
}

